
<div class="container-fluid d-flex  border-bottom py-5 bg-white">
    <div class="img2"></div>
    <div>
        <div class="d-flex pt-3">
            <h1 class="pr-2">This First Heading</h1> <h1 class="text-muted"> Is Pretty Cool Too.</h1>
        </div>
        <p class="text-muted heading-text" >
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula 
            porta felis euismod semper. Present commodo cursus magna vel scelerisque
            nisl consectetur. fusce dapibus, tellus ac sursus commodo.
        </p>
    </div>
    
</div>
